<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h4>First Name = <span th:text="${mentor.firstName}"></span></h4>
    <h4>Last Name = <span th:text="${mentor.lastName}"></span></h4>
    <h4>Email = <span th:text="${mentor.email}"></span></h4>
    <h4>Graduated? <span th:text="${mentor.graduated}"></span></h4>
    <h4>Gender = <span th:text="${mentor.gender}"></span></h4>
    <h4>Batch = <span th:text="${mentor.batch}"></span></h4>
    <h4>Company = <span th:text="${mentor.company}"></span></h4>
</body>
</html>