<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cybertek</title>
    <!--Container fro metadata is not displayed
    Title,Styles,Link,Scripts,Meta and other
    -->
</head>
<body>

    Welcome to Java Spring Developer Course!!!

    <h1>Spring Boot</h1>
<h2>Spring Boot</h2>
<h3>Spring Boot</h3>

<h1 align="center" style="color: blue">Spring Framework</h1> <!--attributes=values-->

<img src="springboot.png" alt="Spring Boot Image">

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>

</ul>

<a href="https://amazon.com">www.amazon.com</a>
<br>
    <br>
<table>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Stream</td>

    </tr>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>

    </tr>
</table>
<br>
<!--Forms-->
<label>User Name:</label>
<input type="text" name="username"><br>
    <br>
<label>Password:</label>
<input type="text" name="password"><br>
    <br>
<label>Enter your comments:</label>
<textarea name="comments"></textarea><br>
    <br>

<label>Please select your favorite subject:</label><br><br>
<input type="radio" name="Spring" value="IoC" checked="checked">IoC<br>
    <input type="radio" name="Spring" value="DI">DI<br>
    <input type="radio" name="Spring" value="MVC">MVC<br>
<br>
    <label>Please select your company:</label><br><br>
    <input type="checkbox" name="company" value="apple" checked="checked">Apple<br>
    <input type="checkbox" name="company" value="bankofamerica">Bank of America<br>
    <input type="checkbox" name="compnay" value="carters">Carter's<br>

<br>

<label>Select your car:</label>
<select name="cars">
    <option value="lexus">Lexus</option>
    <option value="cybertruck">Cyber Truck</option>
    <option value="toyota">Toyota</option>
</select>

<form action="#" method="get">
First name: <input type="text" name="first_name"/>
    <br>
    Last name: <input type="text" name="last_name"/>
</form>

<div>
    <h3>This is Java Developer Course</h3>
    <ul>
        <li>
            Spring Framework
        </li>
        <li>Security</li>
        <li>Unit Testing</li>
    </ul>
</div>

</body>
</html>